@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color:#552774;
    position: relative;
}

main{
    background-color: white;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

}

main h2{
    text-align: center;
    padding: 10px;
}
span{
    color: white;
}

div{
    background-color: #552774;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#Entrar{
    background-color: aquamarine;
}

img{
    height: 400px;
    width: 220px;
}


