@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color:#552774;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;

}

section#login{
    width: 250px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden; /* Tudo o que ultrapassar a borda, deixa de aparecer*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);
}

section#login > div#imagem{
    background: #552774 url(../imagens/2886.jpg) no-repeat;
    background-position: 80% center;
    background-size: cover;
    height: 270px;
    display: block;
    transition: width .4s, heigth .7s;
    transition-timing-function: ease;
}

section#login div#formulario{
    padding: 10px;
    display: block;
}

div#formulario h2{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario p{
    font-size: .8em;
}



